Repository chjih/fancy-todo-list, pull requests merged in 2024-01, with the labels that each got.

#3 docs: README 작성
  README.md
Labels: documentation

#5 style: font, color 시스템 설정, 아이콘 설정
  assets/icons/edit.svg
  assets/icons/history.svg
  assets/icons/plus.svg
  assets/icons/symbol.svg
  index.html
  src/index.js
  src/styles.css
Labels: style

#12 style: 레이아웃 디자인
  assets/icons/close.svg
  index.html
  src/components/column/styles.css
  src/styles.css
Labels: style

#18 style: action history 리스트 퍼블리싱
  assets/icons/avatar.png
  index.html
  src/components/action-history-list/styles.css
  src/styles.css
Labels: style

#19 style: alert 퍼블리싱
  index.html
  src/components/alert/styles.css
Labels: style

#29 feat: 컴포넌트 작성
  index.html
  src/components/action-history-item/index.js
  src/components/action-history-list/index.js
  src/components/action-history-list/styles.css
  src/components/alert/index.js
  src/components/alert/styles.css
  src/components/app.js
  src/components/card/index.js
  src/components/card/styles.css
  src/components/column-container/index.js
  src/components/column/index.js
  src/components/column/styles.css
  src/components/editable-card/index.js
  src/components/header/index.js
  src/index.js
  src/styles.css
Labels: feature

#41 fix: 카드 삭제 시 이벤트 핸들러가 여러개 등록되는 버그 수정
  src/components/alert/index.js
  src/components/app.js
  src/components/editable-card/index.js
Labels: fix
